.login-section {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	width: 976px;
	height: 540px;
	background: #ffffff;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}

.login-section > div {
	width: 50%;
	height: 100%;
}

.login-container,
.button-container {
	display: flex;
	flex-direction: column;
}

.logo-container,
.login-img-container,
.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-container {
	flex-direction: column;
	max-height: 50%;
}

.login-img-container {
	background: linear-gradient(180deg, #19338f 0%, #90a2e4 100%);
	border-radius: 0px 10px 10px 0px;
}

.login-img-container > img.loginImage {
	width: 382px;
	height: 329px;
}

.login-section form {
	flex-grow: 1;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
}

.login-section form button {
	margin: 20px 0;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 23px;
	line-height: 34px;
	color: white;
	width: 331px;
	height: 61px;
	background: linear-gradient(180deg, #19338f 0%, #90a2e4 100%);
	border-radius: 10px;
}

.button-container a,
.button-container a:visited {
	text-decoration: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: inherit;
}

.button-container p:first-child a {
	color: #2b2b2b;
}

.button-container p:last-child a {
	color: #bababa;
}
